<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user join</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Pretendard 폰트 적용 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css"
    />
    <!-- External CSS -->
    <link rel="stylesheet" href="styles/style.css" />
    <script defer src="./components/UserMVP/scripts/join.js"></script>
  </head>
  <div class="text-container" id="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="login.html">Valley-Tales</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="login.html">로그인</a>
          </li>
        </ul>
      </div>
    </nav>
    <h2 class="text-center mb-4">
      엘리스 밸리에서 전해지는 신비한 개발 이야기, 이곳에서 주민들을 만나
      보세요.
    </h2>
  </div>

  <body>
    <div class="container card-body">
      <h3 class="page-title">Join</h3>
      <form class="login-form card-body card-nohover" id="join-form">
        <div>
          <label for="email">Email address</label>
          <input
            type="text"
            id="join-email"
            name="email"
            placeholder="이메일"
            class="input-login"
          />
          <datalist id="email-option">
            <option value="@gmail.com" />
            <option value="@naver.com" />
            <option value="@kakao.com" />
            <option value="@daum.net" />
            <option value="@hanmail.net" />
            <option value="@nate.com" />
          </datalist>
          <input
            type="text"
            id="join-domain"
            placeholder="직접 입력"
            class="input-login"
            list="email-option"
          />
        </div>
        <div class="login-margin">
          <label for="password">Password</label>
          <input
            type="password"
            id="join-password1"
            name="password"
            placeholder="비밀번호"
            class="input-login"
          />
          <p class="font-checkmsg" style="padding-left: 120px">
            8자 이상, 영문 소문자/숫자 혼합 필수
          </p>

          <label for="password">Password check</label>
          <input
            type="password"
            id="join-password2"
            name="password"
            placeholder="비밀번호 확인"
            class="input-login"
          />
          <p id="pw-check-message" class="font-checkmsg"></p>
        </div>

        <div class="login-margin">
          <label for="name">Name</label>
          <input
            type="text"
            id="join-name"
            name="name"
            placeholder="이름"
            class="input-login"
          />
        </div>

        <div class="login-margin">
          <button type="submit" class="btn btn-primary" id="join-btn">
            회원가입
          </button>
        </div>
      </form>
    </div>
  </body>
</html>
